<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerozrz.dao.SurveyMapper">
  <resultMap id="BaseResultMap" type="com.zerozrz.bean.Survey">
    <id column="survey_id" jdbcType="INTEGER" property="surveyId" />
    <result column="survey_type" jdbcType="VARCHAR" property="surveyType" />
    <result column="survey_name" jdbcType="VARCHAR" property="surveyName" />
    <result column="survey_explain" jdbcType="VARCHAR" property="surveyExplain" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="survey_status" jdbcType="INTEGER" property="surveyStatus" />
    <result column="question_nums" jdbcType="INTEGER" property="questionNums" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    survey_id, survey_type, survey_name, survey_explain, user_id, create_time, survey_status, 
    question_nums
  </sql>
  <select id="selectByExample" parameterType="com.zerozrz.bean.SurveyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wjsys.survey
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wjsys.survey
    where survey_id = #{surveyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wjsys.survey
    where survey_id = #{surveyId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zerozrz.bean.SurveyExample">
    delete from wjsys.survey
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zerozrz.bean.Survey">
    insert into wjsys.survey (survey_id, survey_type, survey_name, 
      survey_explain, user_id, create_time, 
      survey_status, question_nums)
    values (#{surveyId,jdbcType=INTEGER}, #{surveyType,jdbcType=VARCHAR}, #{surveyName,jdbcType=VARCHAR}, 
      #{surveyExplain,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{surveyStatus,jdbcType=INTEGER}, #{questionNums,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zerozrz.bean.Survey">
    insert into wjsys.survey
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="surveyId != null">
        survey_id,
      </if>
      <if test="surveyType != null">
        survey_type,
      </if>
      <if test="surveyName != null">
        survey_name,
      </if>
      <if test="surveyExplain != null">
        survey_explain,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="surveyStatus != null">
        survey_status,
      </if>
      <if test="questionNums != null">
        question_nums,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="surveyId != null">
        #{surveyId,jdbcType=INTEGER},
      </if>
      <if test="surveyType != null">
        #{surveyType,jdbcType=VARCHAR},
      </if>
      <if test="surveyName != null">
        #{surveyName,jdbcType=VARCHAR},
      </if>
      <if test="surveyExplain != null">
        #{surveyExplain,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="surveyStatus != null">
        #{surveyStatus,jdbcType=INTEGER},
      </if>
      <if test="questionNums != null">
        #{questionNums,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zerozrz.bean.SurveyExample" resultType="java.lang.Long">
    select count(*) from wjsys.survey
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update wjsys.survey
    <set>
      <if test="record.surveyId != null">
        survey_id = #{record.surveyId,jdbcType=INTEGER},
      </if>
      <if test="record.surveyType != null">
        survey_type = #{record.surveyType,jdbcType=VARCHAR},
      </if>
      <if test="record.surveyName != null">
        survey_name = #{record.surveyName,jdbcType=VARCHAR},
      </if>
      <if test="record.surveyExplain != null">
        survey_explain = #{record.surveyExplain,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.surveyStatus != null">
        survey_status = #{record.surveyStatus,jdbcType=INTEGER},
      </if>
      <if test="record.questionNums != null">
        question_nums = #{record.questionNums,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update wjsys.survey
    set survey_id = #{record.surveyId,jdbcType=INTEGER},
      survey_type = #{record.surveyType,jdbcType=VARCHAR},
      survey_name = #{record.surveyName,jdbcType=VARCHAR},
      survey_explain = #{record.surveyExplain,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      survey_status = #{record.surveyStatus,jdbcType=INTEGER},
      question_nums = #{record.questionNums,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zerozrz.bean.Survey">
    update wjsys.survey
    <set>
      <if test="surveyType != null">
        survey_type = #{surveyType,jdbcType=VARCHAR},
      </if>
      <if test="surveyName != null">
        survey_name = #{surveyName,jdbcType=VARCHAR},
      </if>
      <if test="surveyExplain != null">
        survey_explain = #{surveyExplain,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="surveyStatus != null">
        survey_status = #{surveyStatus,jdbcType=INTEGER},
      </if>
      <if test="questionNums != null">
        question_nums = #{questionNums,jdbcType=INTEGER},
      </if>
    </set>
    where survey_id = #{surveyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zerozrz.bean.Survey">
    update wjsys.survey
    set survey_type = #{surveyType,jdbcType=VARCHAR},
      survey_name = #{surveyName,jdbcType=VARCHAR},
      survey_explain = #{surveyExplain,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      survey_status = #{surveyStatus,jdbcType=INTEGER},
      question_nums = #{questionNums,jdbcType=INTEGER}
    where survey_id = #{surveyId,jdbcType=INTEGER}
  </update>
</mapper>